<% include partials/header %>
<body class="img-fluid" style="background-image: url(http://dl.macneed.ir/WallPaper/WOTD_macneed/WOTD_macneed_5120x2880.jpg); background-size:cover; background-repeat:no-repeat;">
    
<div style="width: 30%; margin: 100px auto">
   <h1>Landing Page </h1>

    <a href="/index">Go to campgrounds.</a> 
</div>


</body>

<% include partials/footer %>